body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: chartreuse;
    background-image: url("https://wallpapercave.com/wp/28su9mp.jpg");
    background-size: 100%;
    font-family: sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h3{
    font-size: 30px;
}

input{
    height: 25px;
    font-size: 20px;
}

button{
    font-size: 18px;
    background-color: crimson;
    color: white;
}

p{
    font-size: 20px;
}